# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
.expo/
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# supabase
supabase/.branches
supabase/.temp

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# editors
.vscode/*
!.vscode/extensions.json
.idea/

# expo
ios/
android/
*.orig.*
web-build/

# misc
.env.example.local
